
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <i class="fas fa-fw fa-light fa-car"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Parking</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Car Information Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/car-info">
                <i class="fas fa-fw fa-table"></i>
                <span>Car Information</span>
            </a>
        </li>

        <!-- Nav Item - Owner Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/owner">
                <i class="fas fa-fw fa-regular fa-address-card"></i>
                <span>Owners</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Check-in Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/check-in">
                <i class="fas fa-fw fa-solid fa-angles-right"></i>
                <span>Check-in-out</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/bill">
                <i class="fas fa-fw fa-thin fa-money-bill"></i>
                <span>Bills</span>
            </a>
        </li>

        

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Gate Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/gate">
                <i class="fa-fw fa-solid fa-road-barrier"></i>
                <span>Gates</span>
            </a>
        </li>

        <!-- Nav Item - Areas Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/area">
                <i class="fas fa-fw fa-light fa-clone"></i>
                <span>Areas</span>
            </a>
        </li>

        <!-- Nav Item - Devices Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/device">
                <i class="fa-fw fa-solid fa-microchip"></i>
                <span>Devices</span>
            </a>
        </li>

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="username" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle"
                                src="/bootstrap-template/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-4 mb-4">
                        <a href="/car-info" onMouseOver="this.style.color='#5a5c69'" onMouseOut="this.style.color='#5a5c69'" >
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Car Information</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-fw fa-table fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-4 mb-4">
                        <a href="/owner" onMouseOver="this.style.color='#5a5c69'" onMouseOut="this.style.color='#5a5c69'" >
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Owner</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-fw fa-regular fa-address-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-4 mb-4">
                        <a href="/check-in" onMouseOver="this.style.color='#5a5c69'" onMouseOut="this.style.color='#5a5c69'" >
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Check-in-out</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-fw fa-solid fa-angles-right fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-4 mb-4">
                        <a href="/gate" onMouseOver="this.style.color='#5a5c69'" onMouseOut="this.style.color='#5a5c69'" >
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Gates</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-fw fa-solid fa-road-barrier fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-4 mb-4">
                        <a href="/area" onMouseOver="this.style.color='#5a5c69'" onMouseOut="this.style.color='#5a5c69'" >
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Areas</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-fw fa-light fa-clone fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-4 mb-4">
                        <a href="/device" onMouseOver="this.style.color='#5a5c69'" onMouseOut="this.style.color='#5a5c69'" >
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Devices</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-fw fa-solid fa-microchip fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Content Row -->    
                <div class="row">
                     <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Vacancies</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <div data-stepped-bar-area-1 ></div>
                                    <div data-stepped-bar-area-2 ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Register</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                {{!-- <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                    </span>
                                    <span class="mr-2">
                                    </span>
                                </div> --}}
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                    </span>
                                    <span class="mr-2">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Quang Quyen 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a id="log-out" class="btn btn-primary" onclick="location.href='/login'">Logout</a>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="/bootstrap-template/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap-template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap-template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap-template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/bootstrap-template/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/bootstrap-template/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link rel="stylesheet" href="/css/syncro.css" />

<!-- Page level custom scripts -->
<script src="/bootstrap-template/js/demo/datatables-demo.js"></script>

<script>
    $(document).ready(function () {

        $( "#log-out" ).on( "click", () => {
            localStorage.removeItem("auth");
        })

        if (JSON.parse(localStorage.getItem("auth"))['username'] === 'admin'){
            $( "#username" )[0].innerHTML = 'Administrator'
        }
        else if (JSON.parse(localStorage.getItem("auth"))['username'] === 'tech'){
            $( "#username" )[0].innerHTML = 'Technician'
        }
        else {
            $( "#username" )[0].innerHTML = 'Username'
        }

        var vacancies1;
        var vacancies2;
        var totalSlot1;
        var totalSlot2;

        function getRegistered() {
            $.ajax({
                url: "/num-registered",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    const registered = result.registered;
                    const notRegistered = result.notRegistered;
                    renderPieChart(registered, notRegistered)
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        };

        function getVacancies() {
            $.ajax({
                url: "/vacancy",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    vacancies1 = result.area1.vacancy;
                    vacancies2 = result.area2.vacancy;
                    totalSlot1 = result.area1.totalSlot;
                    totalSlot2 = result.area2.totalSlot;
                    console.log(vacancies1, vacancies2, totalSlot1, totalSlot2)
                    renderBarChart(vacancies1, vacancies2, totalSlot1, totalSlot2)
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        };

        getRegistered();
        getVacancies();

        var socket = io();
        socket.on('newCheckIn', function(signal) {
            if (signal) 
            {
                getRegistered();
                getVacancies();
            }
        });

        function renderPieChart(registered, notRegistered)
        {    
            var xValues = ["Registered", "Not registered"];
            var yValues = [registered, notRegistered];
            var barColors = [
            "#1cc88a",
            "#4e73df"
            ];

            new Chart("myPieChart", {
                type: "doughnut",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                    }]
                },
                options: {
                    title: {
                    display: false,
                    }
                }
            });
        }

        function renderBarChart(vacancies1, vacancies2, totalSlot1, totalSlot2) {

            var area1Figure = {
                title: "Area 1",
                catagories: [
                {
                    name: "Vacancies",
                    value: vacancies1,
                    color: "#4e73df",
                },
                {
                    name: "Number of cars",
                    value: totalSlot1 - vacancies1,
                    color: "#858796",
                },
                ]
            };

            var area2Figure = {
                title: "Area 2",
                catagories: [
                {
                    name: "Vacancies",
                    value: vacancies2,
                    color: "#4e73df",
                },
                {
                    name: "Number of cars",
                    value: totalSlot2 - vacancies2,
                    color: "#858796",
                },
                ]
            };

            (function () {
            var DIV = "div";
            var BUTTON = "button";
            var SPAN = "span";
            var P = "p";
            var A = "a";
            
            window.addEventListener("load", function () {
                initSteppedProgress();
                initSteppedProgressArea2();
            });

            function initSteppedProgress() {
                [].forEach.call(
                document.querySelectorAll("[data-stepped-bar-area-1]"),
                function (steppedProgress, index) {
                    if (steppedProgress) {
                    var valueTotal = 0;
                    var data;
                    if (steppedProgress.getAttribute("data-stepped-bar-area-1")) {
                        data = JSON.parse(steppedProgress.getAttribute("data-stepped-bar-area-1"));
                    } else {
                        data = area1Figure;
                    }

                    //#region: Markup

                    var title = createElementWithClass(P, "syncro-card-title");
                    title.textContent = data.title;

                    var step = createElementWithClass(DIV, "syncro-progress-stepped");

                    var row = createElementWithClass(DIV, "syncro-row");

                    data.catagories.forEach(function (catagory, i) {
                        valueTotal += catagory.value;
                    });

                    data.catagories.forEach(function (catagory, i) {
                        stepItem = createElementWithClass(
                        DIV,
                        "syncro-progress-stepped-item"
                        );
                        stepItem.setAttribute(
                        "data-id",
                        "progress-stepped-item-" + index + "-" + i
                        );
                        stepItem.textContent = catagory.value;
                        stepItem.style.width = (catagory.value / valueTotal) * 100 + "%";
                        stepItem.style.backgroundColor = catagory.color;

                        step.appendChild(stepItem);

                        var dot = createElementWithClass(SPAN, "syncro-dot");
                        dot.style.backgroundColor = catagory.color;

                        var category = createElementWithClass(SPAN, "syncro-category-name");
                        category.textContent = catagory.name;

                        var btn = createElementWithClass(BUTTON, "syncro-btn");
                        btn.setAttribute(
                        "data-target",
                        "progress-stepped-item-" + index + "-" + i
                        );
                        btn.appendChild(dot);
                        btn.appendChild(category);

                        var col = createElementWithClass(DIV, "syncro-col-auto");
                        col.appendChild(btn);

                        row.appendChild(col);
                    });

                    var cardBody = createElementWithClass(DIV, "syncro-card-body");
                    cardBody.appendChild(title);
                    cardBody.appendChild(step);
                    cardBody.appendChild(row);

                    var card = createElementWithClass(DIV, "syncro-card");
                    card.appendChild(cardBody);

                    var markup = createElementWithClass(DIV);
                    markup.appendChild(card);

                    steppedProgress.innerHTML = markup.innerHTML;

                    //#endregion: Markup

                    //#region:
                    [].forEach.call(
                        steppedProgress.querySelectorAll(".syncro-progress-stepped-item"),
                        function (el) {
                        el.addEventListener("mouseenter", (e) => {
                            toggleActive(e, el);
                        });
                        el.addEventListener("mouseleave", (e) => {
                            toggleActive(e, el);
                        });
                        }
                    );
                    [].forEach.call(
                        steppedProgress.querySelectorAll(".syncro-btn"),
                        function (el) {
                        el.addEventListener("click", function () {
                            const dataID = el.getAttribute("data-target");
                            var targetElm = document.querySelector(
                            '[data-id="' + dataID + '"]'
                            );

                            if (targetElm.classList.contains("active")) {
                            targetElm.classList.remove("active");
                            } else {
                            [].forEach.call(
                                steppedProgress.querySelectorAll(
                                ".syncro-progress-stepped-item"
                                ),
                                function (el) {
                                el.classList.remove("active");
                                }
                            );
                            targetElm.classList.add("active");
                            }
                        });
                        }
                    );
                    //#endregion
                    }
                }
                );
            }

            function initSteppedProgressArea2() {
                [].forEach.call(
                document.querySelectorAll("[data-stepped-bar-area-2]"),
                function (steppedProgress, index) {
                    if (steppedProgress) {
                    var valueTotal = 0;
                    var data;
                    if (steppedProgress.getAttribute("data-stepped-bar-area-2")) {
                        data = JSON.parse(steppedProgress.getAttribute("data-stepped-bar-area-2"));
                    } else {
                        data = area2Figure;
                    }

                    //#region: Markup

                    var title = createElementWithClass(P, "syncro-card-title");
                    title.textContent = data.title;

                    var step = createElementWithClass(DIV, "syncro-progress-stepped");

                    var row = createElementWithClass(DIV, "syncro-row");

                    data.catagories.forEach(function (catagory, i) {
                        valueTotal += catagory.value;
                    });

                    data.catagories.forEach(function (catagory, i) {
                        stepItem = createElementWithClass(
                        DIV,
                        "syncro-progress-stepped-item"
                        );
                        stepItem.setAttribute(
                        "data-id",
                        "progress-stepped-item-" + index + "-" + i
                        );
                        stepItem.textContent = catagory.value;
                        stepItem.style.width = (catagory.value / valueTotal) * 100 + "%";
                        stepItem.style.backgroundColor = catagory.color;

                        step.appendChild(stepItem);

                        var dot = createElementWithClass(SPAN, "syncro-dot");
                        dot.style.backgroundColor = catagory.color;

                        var category = createElementWithClass(SPAN, "syncro-category-name");
                        category.textContent = catagory.name;

                        var btn = createElementWithClass(BUTTON, "syncro-btn");
                        btn.setAttribute(
                        "data-target",
                        "progress-stepped-item-" + index + "-" + i
                        );
                        btn.appendChild(dot);
                        btn.appendChild(category);

                        var col = createElementWithClass(DIV, "syncro-col-auto");
                        col.appendChild(btn);

                        row.appendChild(col);
                    });

                    var cardBody = createElementWithClass(DIV, "syncro-card-body");
                    cardBody.appendChild(title);
                    cardBody.appendChild(step);
                    cardBody.appendChild(row);

                    var card = createElementWithClass(DIV, "syncro-card");
                    card.appendChild(cardBody);

                    var markup = createElementWithClass(DIV);
                    markup.appendChild(card);

                    steppedProgress.innerHTML = markup.innerHTML;

                    //#endregion: Markup

                    //#region:
                    [].forEach.call(
                        steppedProgress.querySelectorAll(".syncro-progress-stepped-item"),
                        function (el) {
                        el.addEventListener("mouseenter", (e) => {
                            toggleActive(e, el);
                        });
                        el.addEventListener("mouseleave", (e) => {
                            toggleActive(e, el);
                        });
                        }
                    );
                    [].forEach.call(
                        steppedProgress.querySelectorAll(".syncro-btn"),
                        function (el) {
                        el.addEventListener("click", function () {
                            const dataID = el.getAttribute("data-target");
                            var targetElm = document.querySelector(
                            '[data-id="' + dataID + '"]'
                            );

                            if (targetElm.classList.contains("active")) {
                            targetElm.classList.remove("active");
                            } else {
                            [].forEach.call(
                                steppedProgress.querySelectorAll(
                                ".syncro-progress-stepped-item"
                                ),
                                function (el) {
                                el.classList.remove("active");
                                }
                            );
                            targetElm.classList.add("active");
                            }
                        });
                        }
                    );
                    //#endregion
                    }
                }
                );
            }

            
            function toggleActive(e, el) {
                if (e.type === "mouseenter") {
                if (!el.classList.contains("active")) {
                    el.classList.add("active");
                }
                } else if (e.type === "mouseleave") {
                if (el.classList.contains("active")) {
                    el.classList.remove("active");
                }
                }
            }

            function createElementWithClass(element, className = "") {
                var ele = document.createElement(element);
                if (className) {
                var classList = className.split(" ");
                classList.forEach(function (value, index) {
                    ele.classList.add(value);
                });
                }
                return ele;
            }
        })();
        }   
    });
                
</script>
