
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <i class="fas fa-fw fa-light fa-car"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Parking</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Car Information Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/car-info">
                <i class="fas fa-fw fa-table"></i>
                <span>Car Information</span>
            </a>
        </li>

        <!-- Nav Item - Owner Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/owner">
                <i class="fas fa-fw fa-regular fa-address-card"></i>
                <span>Owners</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Check-in Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/check-in">
                <i class="fas fa-fw fa-solid fa-angles-right"></i>
                <span>Check-in-out</span>
            </a>
        </li>

        <!-- Nav Item - Check-in Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/bill">
                <i class="fas fa-fw fa-thin fa-money-bill"></i>
                <span>Bills</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Gate Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/gate">
                <i class="fa-fw fa-solid fa-road-barrier"></i>
                <span>Gates</span>
            </a>
        </li>

        <!-- Nav Item - Areas Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/area">
                <i class="fas fa-fw fa-light fa-clone"></i>
                <span>Areas</span>
            </a>
        </li>

        <!-- Nav Item - Devices Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/device">
                <i class="fa-fw fa-solid fa-microchip"></i>
                <span>Devices</span>
            </a>
        </li>

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="username" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                            <img class="img-profile rounded-circle"
                                src="/bootstrap-template/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Car Owners</h1>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-2 font-weight-bold text-primary" style="display:inline-block;">List of owner</h6>
                        <button onclick=$('#addNewOwnerModal').modal("show") type="button" class="btn btn-primary" style="display:inline-block; float: right">Register owner</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="ownerTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Personal ID</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Personal ID</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Quang Quyen 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a id="log-out" class="btn btn-primary" onclick="location.href='/login'">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Car owner Modal-->
<div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Owner</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" value="" id="name" name="name">
                </div>

                <div class="form-group">
                    <label for="videoId">Personal ID</label>
                    <input type="text" class="form-control" value = "" id="personalId" name="personalId">
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="deleteBtn" type="button" >Delete</button>
                <button class="btn btn-primary" id="updateBtn" type="button" >Update</button>
                <button class="btn btn-info" id="moreInfoBtn" type="button" >More</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Add New Owner Modal-->
<div class="modal fade" id="addNewOwnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Owner Information</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" value="" id="nameAddNewOwnerModal" name="nameAddNewOwnerModal">
                </div>

                <div class="form-group">
                    <label for="videoId">Personal ID</label>
                    <input type="text" class="form-control" value = "" id="personalIdAddNewOwnerModal" name="personalIdAddNewOwnerModal">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="addNewOwnerModalBtn" type="button">Register</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Delete Owner Modal-->
<div class="modal fade" id="confirmDeleteOwnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you wish to delete?</div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="confirmDeleteOwnerModalBtn" type="button">Confirm</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Alert Delete Car Before Delete Owner Modal-->
<div class="modal fade" id="alertDeleteCarBeforeDeleteOwnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Please unregister owner's cars first</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Alert Existed Owner Modal-->
<div class="modal fade" id="alertExistedOwnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">This personal ID already exists</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap-template/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap-template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap-template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap-template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/bootstrap-template/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/bootstrap-template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/bootstrap-template/js/demo/datatables-demo.js"></script>

<script>
    $(document).ready(function () {
        function getData() {
            $.ajax({
                url: "/owner/data",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    const output = convertRawDataToTableData(result);
                    renderTable(output);
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        };

        function convertRawDataToTableData(input) {
            let output = [];
            for (const item of input.owners) {
                const row = [item.name, item.personalId];
                output.push(row);
            }
            return output;
        }

        function renderTable(data) {
            $('#ownerTable').DataTable().destroy();
            $('#ownerTable').DataTable({
                data: data,
                order: [[0, 'desc']],
            });
        }

        getData();

        // To show dialog
        var table = $('#ownerTable').DataTable();
        $('#ownerTable').on('click', 'tbody tr', function() {
            const personalId = $(this).children("td:eq(1)").text()
            $.ajax({
                url: "/owner/" + personalId,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#name').val(result.owner.name);
                    $('#personalId').val(result.owner.personalId);
                    $('#personalId').attr("data-id", result.owner._id);
                    $('#ownerModal').modal("show");
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        })

        // Update owner
        function updateOwner() {
            const id = $('#personalId').attr("data-id");
            const data = {name: $('#name').val(), personalId: $('#personalId').val()};
            $.ajax({
                url: "/owner/update/" + id,
                type: "PUT",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                headers: {authUsername: auth.username},
                success: function (result) {
                    if (result != 'absent') // Check if owner already exists 
                        $('#alertExistedOwnerModal').modal('show');
                    $('#ownerModal').modal('hide');
                    getData();
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        }

        // Delete Owner
        function deleteOwner() {
            const id = $('#personalId').attr("data-id");
            $.ajax({
                url: "/owner/delete/" + id,
                type: "DELETE",
                contentType: "application/json;charset=utf-8",
                headers: {authUsername: auth.username},
                success: function (result) {
                    if (result.car == 'present') {
                        $('#alertDeleteCarBeforeDeleteOwnerModal').modal('show');
                    }
                    $('#confirmDeleteOwnerModal').modal('hide');
                    getData();
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        }

        // More Information
        function moreInfoOwner() {
            console.log("moreInfoOwner")
            const id = $('#personalId').attr("data-id");
            location.href = "/owner/car/" + id;
        }

        // Add Owner Car
        function addNewOwner() {
            const auth = JSON.parse(localStorage.getItem("auth"));
            const data = {name: $('#nameAddNewOwnerModal').val(), personalId: $('#personalIdAddNewOwnerModal').val()};
            $.ajax({
                url: "/owner/store",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: {authUsername: auth.username},
                data: JSON.stringify(data),
                success: function (result) {
                    if (result == 'present') // Check if owner already exists 
                        $('#alertExistedOwnerModal').modal('show');
                    $('#addNewOwnerModal').modal('hide');
                    getData();
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        }

        // Listen update button click
        $( "#updateBtn" ).on( "click", updateOwner);

        // Listen delete button click
        $( "#deleteBtn" ).on( "click", function(){
            $('#ownerModal').modal('hide');
            $('#confirmDeleteOwnerModal').modal('show');
        });

        // Listen confirm delete button click
        $( "#confirmDeleteOwnerModalBtn" ).on( "click", deleteOwner);

        // Listen more info button click
        $( "#moreInfoBtn" ).on( "click", moreInfoOwner);
        
        // Listen add new car button click
        $( "#addNewOwnerModalBtn" ).on( "click", addNewOwner);

        // Disable button 
        if(JSON.parse(localStorage.getItem("auth"))['username'] !== 'admin'){
            $( "#addNewOwnerModalBtn" ).prop( "disabled", true );
            $( "#confirmDeleteOwnerModalBtn" ).prop( "disabled", true );
            $( "#deleteBtn" ).prop( "disabled", true );
            $( "#updateBtn" ).prop( "disabled", true );
        }

        // log out
        $( "#log-out" ).on( "click", () => {
            localStorage.removeItem("auth");
        })

        if (JSON.parse(localStorage.getItem("auth"))['username'] === 'admin'){
            $( "#username" )[0].innerHTML = 'Administrator'
        }
        else if (JSON.parse(localStorage.getItem("auth"))['username'] === 'tech'){
            $( "#username" )[0].innerHTML = 'Technician'
        }
        else {
            $( "#username" )[0].innerHTML = 'Username'
        }
        
        var socket = io();
        socket.on('newCheckIn', function(signal) {
            if (signal) getData();
        });


    });
</script>