
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <i class="fas fa-fw fa-light fa-car"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Car Parking</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Car Information Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/car-info">
                <i class="fas fa-fw fa-table"></i>
                <span>Car Information</span>
            </a>
        </li>

        <!-- Nav Item - Owner Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/owner">
                <i class="fas fa-fw fa-regular fa-address-card"></i>
                <span>Owners</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Check-in Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/check-in">
                <i class="fas fa-fw fa-solid fa-angles-right"></i>
                <span>Check-in</span>
            </a>
        </li>

        <!-- Nav Item - Check-out Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/check-out">
                <i class="fas fa-fw fa-solid fa-angles-left"></i>
                <span>Check-out</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Gate Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/gate">
                <i class="fa-fw fa-solid fa-road-barrier"></i>
                <span>Gates</span>
            </a>
        </li>

        <!-- Nav Item - Areas Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/area">
                <i class="fas fa-fw fa-light fa-clone"></i>
                <span>Areas</span>
            </a>
        </li>

        <!-- Nav Item - Devices Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/device">
                <i class="fa-fw fa-solid fa-microchip"></i>
                <span>Devices</span>
            </a>
        </li>

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                src="/bootstrap-template/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">check-out</h1>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-2 font-weight-bold text-primary" style="display:inline-block;">List of check-out</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered hover" id="checkoutTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>check-out code</th>
                                        <th>E-tag</th>
                                        <th>License Number</th>
                                        <th>Gate code</th>
                                        <th>check-out time</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>check-out code</th>
                                        <th>E-tag</th>
                                        <th>License Number</th>
                                        <th>Gate code</th>
                                        <th>check-out time</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- check-out Information Modal-->
<div class="modal fade bd-example-modal-xl" id="carInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Car Information</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="name">check-out code</label>
                                <input type="text" class="form-control" disabled value="" id="checkoutCodeCheckoutModal" name="name">
                            </div>

                            <div class="form-group">
                                <label for="videoId">E-Tag</label>
                                <input type="text" class="form-control" disabled value = "" id="eTagCheckoutModal" name="eTagCheckoutModal">
                            </div>

                            <div class="form-group">
                                <label for="videoId">License number</label>
                                <input type="text" class="form-control" disabled value = "" id="licenseNumCheckoutModal" name="licenseNumCheckoutModal">
                            </div>

                            <div class="form-group">
                                <label for="description">Gate code</label>
                                <input type="text" class="form-control" disabled value = "" id="gateCodeCheckoutModal" name="gateCodeCheckoutModal">
                            </div>
                            <div class="form-group">
                                <label for="videoId">check-out time</label>
                                <input type="text" class="form-control" disabled value = "" id="checkoutTimeCheckoutModal" name="checkoutTimeCheckoutModal">
                            </div>
                        </div>
                        <div class="col-8">
                            <figure class="figure">
                            <img src="" class="figure-img img-fluid rounded" id = "checkoutImage" alt="...">
                            </figure>
                        </div>
                    </div>
                </div>                

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<!-- Bootstrap core JavaScript-->
<script src="/bootstrap-template/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap-template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap-template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap-template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/bootstrap-template/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/bootstrap-template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/bootstrap-template/js/demo/datatables-demo.js"></script>

<script>
    $(document).ready(function () {
        function getData() {
            $.ajax({
                url: "/check-out/data",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    const output = convertRawDataToTableData(result);
                    renderTable(output);
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        };

        function convertRawDataToTableData(input) {
            let output = [];
            for (const item of input.checkOuts) { 
                const row = [item._id, item.eTag, item.carInfo.licenseNum, 
                item.gate.gateCode, item.checkoutTime];
                output.push(row);
            }
            return output;
        }

        function renderTable(data) {
            $('#checkoutTable').DataTable().destroy();
            $('#checkoutTable').DataTable({
                data: data,
                order: [[0, 'desc']],
            });
        }

        getData();

        // To show dialog
        var table = $('#checkoutTable').DataTable();
        $('#checkoutTable').on('click', 'tbody tr', function() {
            const checkoutCode = $(this).children("td:eq(0)").text()
            $.ajax({
                url: "/check-out/" + checkoutCode,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $('#checkoutCodeCheckoutModal').val(result.checkOut._id);
                    $('#eTagCheckoutModal').val(result.checkOut.eTag);
                    $('#licenseNumCheckoutModal').val(result.checkOut.carInfo.licenseNum);
                    $('#gateCodeCheckoutModal').val(result.checkOut.gate.gateCode);
                    $('#checkoutTimeCheckoutModal').val(result.checkOut.checkoutTime);
                    $('#checkoutImage').attr('src', '/img/checkout/' + result.checkOut.imageCode + '.jpg');
                    $('#carInfoModal').modal("show");
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                }
            });
        })
       
        var socket = io();
        socket.on('newCheckIn', function(signal) {
            if (signal) getData();
        });


    });
</script>

{{!-- <div class="mt-4">
    <table id="checkOutTable" class="table">
        <thead>
            <tr>
                <th scope="col">Check-in code</th>
                <th scope="col">License number</th>
                <th scope="col">Gate code</th>
                <th scope="col">Check-in time</th>
                <th scope="col">Area code</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        function getData() {
            $.ajax({
                url: "/check-in/data",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    const output = convertRawDataToTableData(result);
                    renderTable(output);
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                },
                complete: function() {
                    {{!-- if ($('#filterToday').prop('checked')) {
                        renderTableToDay();
                    } else {
                        renderTable();
                    }
                    renderCountPatients(); --}}
                }
            });
        };

        function convertRawDataToTableData(input) {
            let output = [];
            for (const item of input.checkOuts) {
                const row = [item._id, item.licenseNum, item.gateCode, item.checkoutTime, item.areaCode, 'Link'];
                output.push(row);
            }
            return output;
        }

        function renderTable(data) {
            console.log(data);
            $('#checkOutTable').DataTable().destroy();
            $('#checkOutTable').DataTable({
                data: data,
                order: [[0, 'desc']],
            });
        }

        getData();
        var socket = io();
        socket.on('newCheckIn', function(signal) {
            if (signal) getData();
        });

    });
</script> --}}