<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Car Parking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/car-info">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/owner">Owners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/check-in">Check-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/check-out">Check-out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/area">Areas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/device">Devices</a>
        </li>
      </ul>
    </div>
  </div>
</nav>